<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="dfltPattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level [%C{1}]: %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${dfltPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.netflix.iep" level="info"/>
        <Logger name="com.netflix.spectator" level="info"/>
        <Logger name="com.netflix.atlas.persistence" level="debug"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>