name: PR Build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]
        scala: [2.13.16, 3.6.4]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt ++${{ matrix.scala }} clean test
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt checkLicenseHeaders scalafmtCheckAll
